<section>
  <h1>Welcome to CSE Motors !</h1>
   <%- messages() %>
  <div class="hero">
    <div class="hero-card">
      <h2>DMC Dolerean</h2>
      <p>3 Cups holders superman doors Fuzzy dice !</p>
      <button>Own today</button>
    </div>
    <picture>
      <source
        media="(min-width:1500px )"
        srcset="./images/vehicles/delorean-tn.jpg"
      />
      <img src="./images/vehicles/delorean.jpg" alt="dolerean" />
    </picture>
  </div>
</section>

<section class="detail">
  <div class="detail-upgrade">
    <h2>Dolorean Upgrades</h2>
    <div class="items">
      <figure>
        <div class="item-img">
          <img src="./images/upgrades/flux-cap.png" alt="flux" />
        </div>
        <figcaption>
          <a href="">flux capacitor</a>
        </figcaption>
      </figure>

      <figure>
        <div class="item-img">
          <img src="./images/upgrades/flame.jpg" alt="flame" />
        </div>
        <figcaption>
          <a href="">Flame decals</a>
        </figcaption>
      </figure>

      <figure>
        <div class="item-img">
          <img src="./images/upgrades/bumper_sticker.jpg" alt="bumper" />
        </div>
        <figcaption>
          <a href="">Bumper Sticker</a>
        </figcaption>
      </figure>

      <figure>
        <div class="item-img">
          <img src="./images/upgrades/hub-cap.jpg" alt="hub" />
        </div>

        <figcaption>
          <a href="">Hub Caps</a>
        </figcaption>
      </figure>
    </div>
  </div>

  <div>
    <h2>DMC Dolorean Reviews</h2>
    <ul>
      <li>"So fast it's almost like traveling in time" 4/5</li>
      <li>"Co0lest ride on the road" 4/5</li>
      <li>"I'm feeling MCfly" 4/5</li>
      <li>"The most futuristing ride of our days" 4.5/5</li>
      <li>"80 livin and i love it" 5/5</li>
    </ul>
  </div>
</section>
